extends layout

block content
  h1.headLine= challenge.title
  p Difficulty: #{challenge.difficulty} Points: #{challenge.points}
  p= challenge.description
  if !solvedBool
    form(action="/completeChallenge" method="post")
      label(for="challenge1") Mark as Solved!
      input( type="checkbox" id="challenge" name="challenge" value="#{challenge.challenge_id}" )
      p
      button(type="submit") Submit
  else
    p Solved!
